@font-face {
    font-family: Bellota;
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Bellota-Regular.woff') format('woff'),
        url('../assets/fonts/Bellota-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Bellota;
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/Bellota-Bold.woff') format('woff'),
        url('../assets/fonts/Bellota-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Bellota;
    font-style: italic;
    font-weight: normal;
    src: url('../assets/fonts/Bellota-Italic.woff') format('woff'),
        url('../assets/fonts/Bellota-Italic.ttf') format('truetype');
}

@font-face {
    font-family: Bellota;
    font-style: normal;
    font-weight: lighter;
    src: url('../assets/fonts/Bellota-Light.woff') format('woff'),
        url('../assets/fonts/Bellota-Light.ttf') format('truetype');
}

@font-face {
    font-family: Bellota;
    font-style: italic;
    font-weight: bold;
    src: url('../assets/fonts/Bellota-BoldItalic.woff') format('woff'),
        url('../assets/fonts/Bellota-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Bellota;
    font-style: italic;
    font-weight: lighter;
    src: url('../assets/fonts/Bellota-LightItalic.woff') format('woff'),
        url('../assets/fonts/Bellota-LightItalic.ttf') format('truetype');
}